.btn-circle {
  width: auto;
  height: auto;
  text-align: center;
  padding: 0px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.main-color {
  background-color: #cdcdcd;
}

.farm-color {
  background-color: #94ad3f;
}

.mine-color {
  background-color: #d69174;
}

.wood-color {
  background-color: #f1bf42;
}

.library-background {
  position: relative;
  background-color: #3e6dad;
  overflow: hidden;
}

.library-background::before {
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url('../assets/img/study-icon.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.quest-background {
  position: relative;
  background-color: #31b7d1;
  overflow: hidden;
}

.quest-background::before {
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url('../assets/img/sword-icon.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.trader-background {
  position: relative;
  background-color: #a8d76f;
  overflow: hidden;
}

.trader-background::before {
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url('../assets/img/trade-icon.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
