.btn-circle {
  width: auto;
  height: auto;
  text-align: center;
  padding: 0px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.main-color {
  background-color: #cdcdcd;
}

.farm-color {
  background-color: #94ad3f;
}

.mine-color {
  background-color: #d69174;
}

.wood-color {
  background-color: #f1bf42;
}
